:root{
    --background: #eaeaea;
    --text-color:#9b9c9d;
    --iandc-background: #f8f9fb;
    --btn-background: #707070;
    --btn-hover: #000;
    --nav-link: #c4c4c4;
  }

.cardMain2{
    width: 30rem;
    border-radius: 14px;
}

.cardMain2:hover{
    border: 1px solid var(--btn-background);
    margin-top: -20px;
    box-shadow: 2px 2px 10px grey;
}
.textColor2{
    color: var(--btn-background);
}

.fontS{
    font-size: 12px;
    display: flex;
}
.FlexOne{
    flex:10%;
}
.FlexTwo{
    flex:90%;
    color: var(--text-color);
}